layout {
	pane size=1 borderless=true {
		plugin location="tab-bar"
	}
	pane split_direction="vertical" {
		pane name="hobs" {
			command "mise"
			args "start"
			cwd "~/code/horizonweb/hobs"
		}
		pane name="bro" {
			command "mise"
			args "start"
			cwd "~/code/horizonweb/bro"
		}
	}
	pane {
		command "docker"
		args "stats"
		size 10
	}
	pane size=1 borderless=true {
		plugin location="status-bar"
	}
}
