name: Build Dotfiles

on:
  push:

jobs:
  build-dotfiles:
    name: Build
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@v16
        with:
          name: brianhicks-dotfiles
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build --print-build-logs .#homeConfigurations.brianhicks.activationPackage
