name: Build Dotfiles

on:
  push:

jobs:
  build-dotfiles:
    name: Build
    runs-on: macos-15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: brianhicks-dotfiles
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix build --print-build-logs .#homeConfigurations.home.activationPackage .#homeConfigurations.work.activationPackage
