name: Build Dotfiles

on:
  push:

jobs:
  build-dotfiles:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix develop --command home-manager build --flake flake.nix --option system aarch64-darwin
