name: Build Dotfiles

on:
  push:

jobs:
  build-dotfiles:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - run: nix build .#homeConfigurations.brianhicks.activationPackage --system aarch64-darwin
